{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

    {% if request.user.is_authenticated %}
        <p style="color:#e1e1bb;" >User is logged in :)</p>
        <p style="color:#e1e1bb;" >Username -->  {{ request.user.username }}</p>

    {% else %}
        <p style="color:#e1e1bb;" >User is not logged in :(</p>
    <h1 style="color:#e1e1bb;">Log-in</h1>


    <p>Please, use the following form to log-in. If you don't have an account <a  href="{% url "register" %}">register here</a></p>
    <form action="." method="post">
        <a style="color:#e1e1bb;"> username {{ form.username }}</a>
        <p>
         <a style="color:#e1e1bb;"> password{{ form.password }}</a>

        </p>
        {% csrf_token %}
        <p><input type="submit" value="Log-in"></p>
    </form>
    {% endif %}



{% endblock %}