{% extends "test_css.html" %}
{% load static %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <h1 style="color:#e1e1bb;">Create an account</h1>
    <p style="color:#e1e1bb;">Please, sign up using the following form:</p>
   <form action="{% url 'home' %}" method="post">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password">
  </div>
  <button type="submit">Submit</button>
             {% csrf_token %}

</form>


{% endblock %}
